<h2>Ingresar</h2>

<form action="" id="loginForm">

 
    <label>Usuario:</label>
    <input type="email"  name="email">
 
    <label for="password">Contraseña:</label>
    <input type="password" name="password">
  
  <button type="submit">Iniciar Sesion</button>
</form>
  
<br>

<a href="forgotPassword">Restaurarar contraseña</a>

<br>
<br>
<br>

<div>
  <a href="/auth/github"><button>Ingresar con GitHub</button></a>
</div>
<br>
<br>

<script src="/js/login.js"></script>
