<h2>Perfil</h2>

  <div>
    <label>Nombre:</label>
    <p>{{usuario.first_name}}</p>
  </div>
  <div>
    <label>Apellido:</label>
     <p>{{usuario.last_name}}</p>
  </div>
  <div>
    <label>Correo electrónico:</label>
     <p>{{usuario.email}}</p>
  </div>

